[submodule "packages/aur/debtap"]
	path = packages/aur/debtap
	url = https://aur.archlinux.org/debtap.git
[submodule "packages/aur/affinity-bin"]
	path = packages/aur/affinity-bin
	url = https://aur.archlinux.org/affinity-bin.git
[submodule "packages/aur/enroll"]
	path = packages/aur/enroll
	url = https://aur.archlinux.org/enroll.git
[submodule "packages/aur/android-sdk"]
	path = packages/aur/android-sdk
	url = https://aur.archlinux.org/android-sdk.git
[submodule "packages/aur/android-ndk"]
	path = packages/aur/android-ndk
	url = https://aur.archlinux.org/android-ndk.git
[submodule "packages/aur/amber-lang-git"]
	path = packages/aur/amber-lang-git
	url = https://aur.archlinux.org/amber-lang-git.git
[submodule "packages/aur/desktop-plus-bin"]
	path = packages/aur/desktop-plus-bin
	url = https://aur.archlinux.org/desktop-plus-bin.git
[submodule "packages/aur/cosmic-ext-applet-tempest"]
	path = packages/aur/cosmic-ext-applet-tempest
	url = https://aur.archlinux.org/cosmic-ext-applet-tempest.git
[submodule "packages/aur/cosmic-ext-applet-minimon"]
	path = packages/aur/cosmic-ext-applet-minimon
	url = https://aur.archlinux.org/cosmic-ext-applet-minimon.git
[submodule "packages/aur/cosmic-ext-applet-privacy-indicator"]
	path = packages/aur/cosmic-ext-applet-privacy-indicator
	url = https://aur.archlinux.org/cosmic-ext-applet-privacy-indicator.git
[submodule "packages/aur/cosmic-ext-applet-logomenu"]
	path = packages/aur/cosmic-ext-applet-logomenu
	url = https://aur.archlinux.org/cosmic-ext-applet-logomenu.git
[submodule "packages/aur/cosmic-ext-applet-now-playing-extended-git"]
	path = packages/aur/cosmic-ext-applet-now-playing-extended-git
	url = https://aur.archlinux.org/cosmic-ext-applet-now-playing-extended-git.git
